@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --White: #FFFFFF;
    --White2: #F5F5F5;
    --Grey: #E5E5E5;
    --Metal: #F0F1F6;
    --Black: #000000;
    --Black2: #1D2730;
    --Blue: #07C9C9;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: block;
}
header{
    background-color: var(--White);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}

h1{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.055em;
    color: var(--Black2);
    margin-left: 55px;
}
.rectangle{
    margin: -5px 0 0 51px;
    position: absolute;
}
ul{
    margin-left: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.055em;
    color: var(--Black2);
    margin: 0 10px;
    cursor: pointer;
}
li:hover{
    color: var(--Blue);
}
main{
    height: 80vh;
    display: flex;
}
.main-left{
    background-color: var(--White);
    width: 50%;
}
.h2-main{
    font-size: clamp(48px, 48px, 3rem);
    font-weight: 700;
    line-height: 150%;
    color: var(--Black2);
    margin: 100px 0 0 50px;
}
.p-main{
    font-size: clamp(0.8rem, 18px, 5vw);
    font-weight: 400;
    color: var(--Black2);
    margin: 20px 0 0 50px;
}
.button-comece{
    width: 250px;
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--Blue);
    color: var(--White);
    margin: 40px 0 0 50px;
    cursor: pointer;
}
.button-comece:hover{
    background-color: #16e6e6;
}
.main-right{
    background-color: var(--White);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pc{
    width: 500px;
}
.teste{
    width: 100%;
    height: 15vh;
    position: absolute;
    margin-top: -55px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}
.pesquisa{
    background-color: var(--Blue);
    width: 1200px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 0 20px;
}
input{
    height: 44px;
    width: 75%;
    background-color: var(--White);
    border: none;
    border-radius: 4px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
input::placeholder{
    color: var(--Black2);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.055em;
}
.button-encurtar{
    width: 20%;
    height: 44px;
    background-color: var(--Black2);
    color: var(--White);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.button-encurtar:hover{
    background-color: #2b353e;
}
.section-h2-information{
    width: 100%;
    background-color: var(--White2);
}
.h2-information{
    font-size: 36px;
    font-weight: 700;
    color: var(--Black);
    display: flex;
    justify-content: center;
    padding-top: 149px;
}
.information{
    background-color: var(--White2);
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div-columns{
    width: 30%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.div-img-information{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.div-img-information img{
    width: 100%;
    height: 100%;
}
.div-text-information{
    width: 80%;
    height: 50%;
}
.title-information{
    font-size: clamp(0.5rem, 1.8vw, 2vw);
    font-weight: 700;
    color: var(--Black);
    margin: 10px 0;
}
.text-information{
    font-size: clamp(0.5em, 1.2vw, 3vw);
    font-weight: 400;
    color: var(--Black2);
}
.div-questions{
    background-color: var(--White);
    width: 100%;
    height: 130vh;
}
.h2-questions{
    font-size: 32px;
    font-weight: 700;
    color: var(--Black);
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.p-subtitle-questions{
    font-size: 16px;
    font-weight: 400;
    color: var(--Black2);
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.button-comece2{
    width: 250px;
    height: 45px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    background-color: var(--Blue);
    color: var(--White);
    display: block;
    margin: 30px auto 0 auto;
    cursor: pointer;
}
.button-comece2:hover{
    background-color: #16e6e6;
}
.h3-questions{
    font-size: 36px;
    font-weight: 700;
    color: var(--Black);
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
#button-questions, #button-questions2, #button-questions3{
    width: 60%;
    height: 8vh;
    background-color: var(--Grey);
    color: var(--Black);
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    display: block;
    margin: 20px auto 0 auto;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#polygon, #polygon2, #polygon3{
    display: inline-block;
    margin-right: 10px;
}
#polygon-girar{
    transform: rotate(90deg);
    margin-right: 15px;
}
#div-questions, #div-questions2, #div-questions3{
    width: 60%;
    height: 10vh;
    display: block;
    margin: 5px auto 0 auto;
    padding: 15px;
    background-color: var(--Grey);
    border-radius: 4px;
    display: none;
}
#div-questions p, #div-questions2 p, #div-questions3 p{
    font-size: 16px;
    font-weight: 400;
    color: var(--Black);
}
footer{
    width: 100%;
    height: 15vh;
    background-color: var(--White);
    display: block;
    margin: auto;
}
.p-footer{
    font-size: 16px;
    font-weight: 400;
    color: var(--Black2);
    text-align: center;
    margin-bottom: 30px;

}
.div-social{
    width: 200px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.button-footer{
    width: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social{
    width: 28.56px;
    height: 28.56px;
    cursor: pointer;
}
@media(max-width: 1050px){
    main{
        height: 70vh;
    }
    .main-right{
        display: none;
    }
    .main-left{
        width: 100%;
    }
    .h2-main{
        font-size: clamp(3.5rem, 7vw, 10vw);
        margin: 50px 0 0 20px;
    }
    .p-main{
        font-size: clamp(1.2rem, 2.5vw, 5vw);
        margin-left: 20px;
    }
    .button-comece{
        margin-left: 20px;
    }
    .information{
        width: 100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
    }
    .div-columns{
        width: 500px;
        height: 500px;
    }
    .div-img-information{
        width: 500px;
        height: 70%;
    }
    .div-img-information img{
        width: 500px;
    }
    .div-text-information{
        width: 500px;
        height: 30%;
    }
    .title-information{
        font-size: clamp(30px, 3vw, 10vw);
    }
    .text-information{
        font-size: clamp(20px, 1.2vw, 10vw);
    }
}
@media(max-width: 700px){
    main{
        height: 70vh;
    }
    .h2-main{
        font-size: clamp(2rem, 7vw, 10vw);
    }
    .p-main{
        font-size: clamp(0.8rem, 2.5vw, 5vw);
    }
    .teste{
        margin-top: -70px;
    }
    .pesquisa{
        display: flex;
        flex-direction: column;
        height: 20vh;
    }
    input, .button-encurtar{
        width: 100%;
    }
    .h2-information{
        font-size: clamp(1.5rem, 4vw, 5vw);
    }
    .information{
        width: 100%;
        height: 200vh;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    .div-columns{
        width: 80%;
        height: 500px;
    }
    .div-img-information{
        width: 100%;
        height: 70%;
    }
    .div-img-information img{
        width: 100%;
    }
    .div-text-information{
        width: 100%;
        height: 30%;
    }
    .title-information{
        font-size: clamp(1.2rem, 3vw, 10vw);
    }
    .text-information{
        font-size: clamp(0.8rem, 1.2vw, 10vw);
    }
    .h2-questions{
        font-size: clamp(1.3rem, 4vw, 5vw);
    }
    .p-subtitle-questions{
        font-size: clamp(0.6rem, 3vw, 5vw);
    }
    .h3-questions{
        font-size: clamp(1.5rem, 4vw, 5vw);
    }
    #button-questions, #button-questions2, #button-questions3{
        width: 90%;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    #div-questions, #div-questions2, #div-questions3{
        width: 90%;
        display: flex;
        align-items: center;
    }
    #div-questions p, #div-questions2 p, #div-questions3 p{
        font-size: 12px;
    }
    .p-footer{
        font-size: clamp(0.8rem, 2vw, 5vw);
    }
    ul{
        display: none;
    }
}